.AppSignUp{
	height: 100%;
    width: 100%;
	font-size: 1.5em;
	border-radius: 20px;
}

#signUp{
	margin-left: 37%;
	margin-top: 5%;
}

.signUp{
	border-radius: 20px;
	margin-right: 5%;
	margin-top: 2.5%;
}

#display_name_signUp input{
	margin-left: 2.5%;
	margin-top: 2.3%
}

#username_signUp input{
	margin-top: 2.5%;
	margin-left: 5.7%;
}

#password_signUp input{
	margin-top: 2.5%;
	margin-left: 6.4%;
}

#confirm_password_signUp input{
	margin-top: 2.5%;
	margin-left: 1.2%;
}